{% extends "layout.html" %}

{% block main %}
    <br>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="list-group">
                <a class="list-group-item list-group-item-action active text-white" id="channels_header">Flack Channels</a>
                <form action="/chat" method="post">
                    <div class="form-group">
                        <select class="form-control" id="join_channel">
                            {% for flack_channel in flack_channels %}
                                <!-- <a id="join_channel" data="{{ flack_channel }}" href="/channel/{{ flack_channel }}" class="list-group-item list-group-item-action">{{ flack_channel }}</a> -->
                                <!-- <input type="submit" id="join_channel" data="{{ flack_channel }}" class="list-group-item list-group-item-action" /> -->
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <br>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <form action="/channels" method="post">
                <div class="form-group">
                    <input autocomplete="off" class="form-control" name="channelname" placeholder="Create a new channel." type="text"/>
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
        <div class="col"></div>
    </div>
{% endblock %}
