{% extends "layout.html" %}

{% block title %}
    Channel
{% endblock %}

{% block main %}
    <br>
    <div class="row">
        <div class="col">
            <div class="card" id="channel" style="">
                <div class="card-header" id="channel_header">
                    <h3 class="text-white">{{ flack_channel }}</h3>
                </div>
                <div class="card-body overflow-auto" id="">
                    <div id="messages">
                        {% for message in channel_messages %}
                            <div class="alert alert-primary" id="{{ message["message_id"] }}">
                                <div class="row">
                                    <div class="col">
                                        <div class="float-left">
                                            <span class="font-weight-bold">{{message["user_id"] }}</span> - {{ message["timestamp"] }}
                                        </div>
                                    </div>
                                    <div class="col">
                                        <button type="button" id="deleteMessage" data-message_id="{{ message["message_id"] }}" data-user_id="{{ message["user_id"] }}" class="close" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="row" id="message">
                                    <div class="col">
                                        <div class="float-left">
                                            {{ message["msg"] }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- {% if message["user_id"] == session["user_id"] %}
                                <div class="alert alert-primary" id="{{ message["message_id"] }}">
                                    <div class="row">
                                        <div class="col">
                                            <div class="float-left">
                                                <span class="font-weight-bold">{{message["user_id"] }}</span> - {{ message["timestamp"] }}
                                            </div>
                                        </div>
                                        <div class="col">
                                            <button type="button" id="deleteMessage" data-message_id="{{ message["message_id"] }}" data-user_id="{{ message["user_id"] }}" class="close" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row" id="message">
                                        <div class="col">
                                            <div class="float-left">
                                                {{ message["msg"] }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="alert alert-primary" id="{{ message["message_id"] }}">
                                    <div class="row">
                                        <div class="col">
                                            <div class="float-left">
                                                <span class="font-weight-bold">{{message["user_id"] }}</span> - {{ message["timestamp"] }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" id="message">
                                        <div class="col">
                                            <div class="float-left">
                                                {{ message["msg"] }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %} -->
                        {% endfor %}
                    </div>
                </div>
                <div class="card-footer">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <input type="text" class="form-control" id="myMessage">
                                </div>
                                <div class="col-1">
                                    <button class="btn btn-primary" id="sendbutton">Send</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
