<div class="row">
    <div class="col-3">
        <div class="card" id="channels" style="">
            <div class="card-header">
                Channels
            </div>
            <div class="card-body">
                <button style="width:100%;" type="button" class="btn btn-primary" id="joinChannelButton" value="Room1"># Room1</button>
                <br>
                <br>
                <button style="width:100%;" type="button" class="btn btn-outline-primary" id="joinChannelButton" value="Room2"># Room2</button>
                <br>
                <br>
                <button style="width:100%;" type="button" class="btn btn-outline-primary" id="joinChannelButton" value="Room3"># Room3</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" id="channel" style="">
            <div class="card-header">
                Channel Name
            </div>
            <div class="card-body overflow-auto" id="">
                <div id="messages"></div>
            </div>
            <div class="card-footer">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" id="myMessage">
                            </div>
                            <div class="col-1">
                                <button class="btn btn-primary" id="sendbutton">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
