{% extends "layout.html" %}

{% block main %}
    <br>
    <br>
    <div>
        <h1>Welcome to Flack, {{ session.user_id }}!</h1>
    </div>
    <br>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            Join a channel and start chatting!
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <a href="/channels" class="list-group-item list-group-item-action active text-white" id="channels_header">Channels</a>
                </div>
                <div class="col"></div>
            </div>
        </div>
        <div class="col"></div>
    </div>
{% endblock %}
