<!DOCTYPE htmll>

<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <!-- The app's own CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" rel="stylesheet"/>
        <link href="/static/index.css" rel="stylesheet" type="text/css"/>

        <!-- The app's own JavaScript -->
        <script type="text/javascript" src="/static/index.js"></script>
        <!-- So the theory is that the socket.io javascript keeps trying to reload the webpage? -->
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

        <!-- The code below is what I think is broken with the Flask-SocketIO bug. All JS will be above in the script tag. -->
        <!-- <script src="{{ url_for('static', filename='index.js') }}"></script> -->
        <!-- <script src="/static/scripts.js"></script> -->
        <!-- The app's title -->
        <title>Flack</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-light bg-light border">
            <!-- Chat app name. -->
            <a class="navbar-brand" href="/"><span class="purple">Flack</span></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        <!-- Prompt the user to provide a display name. -->
        <!-- Make sure to hide if user is already logged in. -->

        <main class="container p-5">
            <div id="introduction">
                <div class="container col-sm-6 text-center">
                    <h1>Welcome to <span id="site_name">Flack</span>!</h1>
                </div>
                <div class="container col-sm-4 text-center">
                    <h6>Create a display name.</h6>
                </div>
                <div class="container p-3">
                </div>
                <div id="registration" class="container col-sm-4">
                        <div class="registration-body" align="center">
                            <form id="new-user">
                                <div class="form-group">
                                    <input style="" class="form-control" id="username-create" autocomplete="off" autofocus placeholder="Display Name" type="text">
                                </div>
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </form>
                        </div>
                </div>
            </div>
            <div id="result">
            </div>
            <!-- Outermost frame of the chat app. -->
            <div class="container row" id="frame">
                <!-- Sidepanel containing list of channels. -->
                <div class="col" id="sidepanel">
                    <!-- Display name of the user. -->
                    <div id="profile">
                        <div class="wrap">
                            <p>Display Name</p>
                        </div>
                    </div>
                    <!-- Search function for the channels -->
                    <div id="channel-search">
                        <input type="text" placeholder="Search channels..." />
                        <button id="" class="submit">Search</button>
                    </div>
                    <!-- List of channels. -->
                    <div id="channels-content">
                        <!-- Ordered list of channels. -->
                        <ul id ="channels">
                        </ul>
                    </div>
                    <div id="channel-create">
                        <input id="new-channel" type="text" placeholder="Create a Channel." />
                        <button id="create-channel" class="submit">Create Channel</button>
                    </div>
                </div>
                <!-- Chat messages frame. -->
                <div class="col content">
                    <!-- Header for chat containing the current channel name. -->
                    <div class="channel">
                    </div>
                    <!-- Chat messages within the current channel. -->
                    <div class="messages">
                        <ul>
                            <!-- Loop through messages in chat. -->
                            <li class="sent">Sent Message 1</li>
                            <li class="replies">Reply Message 1</li>
                        </ul>
                    </div>
                    <!-- Input field for sending a message to the channel chat. -->
                    <div class="message-input">
                        <input type="text" placeholder="Write your message..." />
                        <button class="submit">Send</button>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
