<!DOCTYPE htmll>

<html>
    <head>
        <!-- The app's own CSS -->
        <link href="/static/styles.css" rel="stylesheet"/>
        <!-- The app's own JavaScript -->
        <script src="/static/scripts.js"></script>
        <!-- The app's title -->
        <title>Flack</title>
    </head>
    <body>
        <form id="form">
            <input id="currency" autocomplete="off" autofocus placeholder="Currency" type="text">
            <input type="submit" value="Get Exchange Rate">
        </form>
        <br>
        <div id="result"></div>
    </body>
</html>