<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" rel="stylesheet"/>
        <link href="/static/index.css" rel="stylesheet" type="text/css"/>

        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='index.js') }}"></script>

        <!-- The code below is what I think is broken with the Flask-SocketIO bug. All JS will be above in the script tag. -->
        <!-- <script src="{{ url_for('static', filename='index.js') }}"></script> -->
        <!-- <script src="/static/scripts.js"></script> -->
        <!-- The app's title -->
        <title>Flack</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-light bg-light border">
            <!-- Chat app name. -->
            <a class="navbar-brand" href="/"><span class="purple">Flack</span></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav ml-auto mt-2">
                    <li class="nav-item d-flex flex-column bd-highlight mb-3">
                        <div class="bd-highlight text-right">Display Name:&ensp;</div>
                        <div class="bd-highlight text-right">User:&ensp;</div>
                    </li>
                    <li class="nav-item d-flex flex-column bd-highlight mb-3">
                        <div class="bd-highlight text-left">{{ current_user.display_name }}&ensp;</div>
                        <div class="bd-highlight text-left">#{{ current_user.name }}&ensp;</div>
                    </li>
                </ul>
            </div>
        </nav>
        <main class="container">
            <div class="row">
                <div class="col-3">
                    <div class="card" id="channels" style="">
                        <div class="card-header">
                            Channels
                        </div>
                        <div class="card-body">
                            <button style="width:100%;" type="button" class="btn btn-primary" id="joinChannelButton" value="Room1"># Room1</button>
                            <br>
                            <br>
                            <button style="width:100%;" type="button" class="btn btn-outline-primary" id="joinChannelButton" value="Room2"># Room2</button>
                            <br>
                            <br>
                            <button style="width:100%;" type="button" class="btn btn-outline-primary" id="joinChannelButton" value="Room3"># Room3</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" id="channel" style="">
                        <div class="card-header">
                            Channel Name
                        </div>
                        <div class="card-body overflow-auto" id="">
                            <div id="messages"></div>
                        </div>
                        <div class="card-footer">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col">
                                            <input type="text" class="form-control" id="myMessage">
                                        </div>
                                        <div class="col-1">
                                            <button class="btn btn-primary" id="sendbutton">Send</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
